<!doctype html>
<html lang="en">
<head>
  {% render "head", metadata: site.data.engtexts, page: page%}
</head>
  <body class="antialiased bg-body text-body font-body">
    {% render "navbar", metadata: site.data.engtexts %}

    {% render "development", metadata: site.data.engtexts %}
    {% render "maintenance", metadata: site.data.engtexts %}
    {% render "updates", metadata: site.data.engtexts %}

    {{ content }}
    
    {% render "footer", metadata: site.data.engtexts %}
  </body>
</html>
