<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.data.huntexts %}
  </head>
  <body class="antialiased bg-body text-body font-body">
    {% render "navbar", metadata: site.data.huntexts %}

    {% render "development", metadata: site.data.huntexts %}
    {% render "maintenance", metadata: site.data.huntexts %}

    {% render "footer", metadata: site.data.huntexts %}
  </body>
</html>
