
<div class="container mx-auto">
    <h2 class="text-4xl mb-2 leading-tight font-bold font-heading text-center md:pt-32 pt-12">{{ clients.title }}</h2>
</div>

{% render "client1", metadata: site.data.general_en.general, clients: clients %}
{% render "client2", metadata: site.data.general_en.general, clients: clients %}

